@import '../../assets/colors.scss';

.image-container{
    display: flex;
    border-bottom: solid $white 1px;

    img {
        width: 50%;
        margin: 10px 20px 5% 20px;
        cursor: pointer;
    }

    .image-form{
        display: grid;
        width: 50%;
        height: 100%;
        padding-top: 1%;

        .icon-name{
            color: $white;
            font-size: 25px;
        }

        .icon{
            color: $white;
            margin-left: 5px;
        }

        label{
            color: $white;
            font-size: 20px;
        }

        input{
            margin: 10px 0px 20px 0px;
            height: 20px;
        }

        button{
            width: 25%;
            margin: 0px 10px 20px 0px;
            font-size: 18px;
            border: 0px;
            cursor: pointer;
        }

        .check-button{
            background-color: $green;
            color: $white;
        }

        .uncheck-button, .trash-button{
            background-color: $red;
            color: $white;
        }

        .star-button{
            background-color: $yellow;

            .icon{
                color: $black;
            }
        }

        .unstar-button{
            background-color: $gray;

            .icon{
                color: $black;
            }
        }

        .save-button{
            color: $black;

            .icon{
                color: $black;
            }
        }

        p{
            margin: 10px 0px 5px 0px;
            color: $pink;
            font-size: 18px;

            span{
                color: $white;
            }
        }
    }
}