.languages-container{
    width: 7%;
    height: 30px;
    background-color: black;
    border: solid 1px white;
    color: white;
    position: fixed;
    right: 2%;
    top: 5%;

    .selected-language{
        text-align: center;
        cursor: pointer;
        margin: 5px 0px 0px 0px;
        font-size: 20px;
    }

    .options{
        background-color: black;
        padding: 5px;
        display: grid;
        border: solid 1px white;
        margin-top: 15%;

        p{
            margin: 5px;
            border-bottom: solid 1px white;
            cursor: pointer;
            text-align: center;
            font-size: 20px;
        }

        p:hover{
            color: #e87f8d;
        }
    }

    .flag-image{
        width: 25px;
        height: 20px;
    }
}

@media(max-width: 767px){
    .languages-container{
        right: 2%;
        width: 20%;
        top: 2%;

        .selected-language{
            font-size: 20px;
        }

        .options{
            p{
                font-size: 20px;
            }
        }
    }
}