@import '../../assets/colors.scss';
.App{
    background-color: $black;
}

.player-container{
    margin: 20px 0px 20px 0px;
    padding: 10px;
    display: flex;
    width: 100%;

    .player{
        color: $white;
        font-size: 25px;
        cursor: pointer;
        padding: 5px 0px 0px 0px;
    }

    h1{
        color: $white;
        margin: 0px 10px 0px 0px;
    }

    p{
        font-size: 30px;
        margin: 0px 10px 0px 5px;
        color: $pink;
    }
}

.main-content{
    width: 100%;
    position: relative;
    height: 600px;
    background-color: $black;
    padding-top: 10%;

    .main-photo-container{
        width: 50%;
        height: 100%;
        float: left;

        .main-image{
            width: 85%;
            margin-left: 10%;
        }
    }

    .main-text-container{
        width: 50%;
        height: 100%;
        float: right;
        padding-top: 10%;

        h1, h3{
            color: $white;
            text-align: center;
            margin: 0px;
        }

        h1{
            font-size: 100px;
        }

        h3{
            font-size: 50px;
        }
    }
}

.main-video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;

    .main-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 1024px){
    .main-content{
        display: grid;
        padding-top: 15%;

        .main-photo-container, .main-text-container{
            width: 100%;
        }
    }

    .main-video-container{
        margin-top: 55%;
    }
}

@media(max-width: 767px){
    .main-content{
        display: grid;
        padding-top: 25%;

        .main-photo-container{
            width: 100%;
            height: fit-content;
    
            .main-image{
                width: 100%;
                margin-left: 0%;
            }
        }

        .main-text-container{
            width: 100%;
            padding: 0% 0% 0% 1%;

            h1{
                font-size: 80px;
            }
    
            h3{
                font-size: 30px;
            }
        }
    }

    .main-video-container{
        margin-top: 0%;
    }
}