@import '../../assets/colors.scss';

.links-container{
    padding: 2% 0% 2% 0%;

    .links{
        list-style: none;
        display: flex;
        justify-content: center;
    
        li, .footer-link{
            color: $white;
            margin-right: 20px;
            font-size: 25px;
            text-transform: uppercase;
        }

        li:hover, .footer-link:hover{
            color: $pink;
            cursor: pointer;
        }
    }
}

@media(max-width: 1024px){
    .links-container{
        padding: 2% 0% 2% 20%;
    }
}

@media(max-width: 767px){
    .links-container{
        padding: 0%;
        margin-top: 10%;

        .links{
            padding: 0% 0% 0% 5%;

            li, .footer-link{
                font-size: 20px;
            }
        }
    }
}