.tour-body{
    width: 100%;
    height: 30px;
    padding-top: 8%;

    img{
        cursor: pointer;
    }

    .slide-container{
        text-align: -webkit-center;
        display: flex;
        flex-direction: column;
        padding-bottom: 3%;
        border-bottom: solid white 5px;

        .slide{
            display: flex;

            .container-first-image, .container-second-image{
                width: 50%;
                display: grid;
            
                .photo-description{
                    color: white;
                    font-size: 25px;
                    text-align: center;
                }
            }

            p{
                width: fit-content;
                margin: 0px;
                display: contents;
            }
        
            .main-image{
                width: 60%;
                margin: 10px;
            }
        }

        .arrow{
            font-size: 80px;
            cursor: pointer;
            color: white;
            margin: 10px;
            position: absolute;
            top: 50%;
        }

        .right-arrow{
            margin: 10px;
            right: 0px;
        }

        .left-arrow{
            margin: 10px;
            left: 0px;
        }
    }

    .send-photos-container{
        padding: 2% 0% 0% 5%;
        display: block;

        h1{
            color: white;
            font-size: 40px;
            margin: 0px;
        }

        .button-container{
            display: grid;

            .selected-photos-title{
                margin: 20px 0px 0px 0px;
                color: #e87f8d;
                font-size: 22px;
            }

            .selected-photos-container{
                padding: 0px 10px 0px 10px;
                display: flex;
                margin-bottom: 20px;
                overflow: auto;

                .selected-photo{
                    color: white;

                    .check-circle{
                        color: green;
                        margin: 0px 5px 0px 5px;
                    }
                }
            }

            input{
                margin: 10px 0px 0px 0px;
                color: white;
                font-family: 'Bebas Neue', cursive;
                font-size: 15px;
                width: 22%;
            }

            button{
                margin-top: 20px;
                width: fit-content;
                padding: 5px;
                font-size: 18px;
            }
        }
    }

    .images-catalog{
        width: 100%;
        background-color: black;
        height: fit-content;
        padding: 0%;
        text-align: center;

        h1{
            color: white;
            text-align: left;
            margin-left: 5%;
            font-size: 40px;
        }

        .image-row{
            display: flex;

            div{
                width: 50%;

                p{
                    color: white;
                    font-size: 25px;
                }
            }
        }

        .normal-image{
            width: 80%;
            max-height: 80%;
            margin: 2%;
        }
    }
}

.image-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(1, 1, 1, 0.8);
    text-align: center;
    overflow: auto;

    img{
        width: 40%;
        margin-top: 8%;
        max-height: 80%;
        cursor: default;
    }

    .close-overlay, .download-button{
        color: white;
        font-size: 25px;
        position: fixed;
        cursor: pointer;
        top: 18%;
    }

    .close-overlay{
        right: 5%;
    }

    .download-button{
        right: 8%;
        z-index: 2;
    }
}

@media(max-width: 1024px){
    .tour-body{
        .slide-container {
            padding-top: 7%;

            .arrow{
                top: 25%;
                font-size: 60px;
            }

            .slide {
                .main-image{
                    width: 80%;
                }

                .container-first-image, .container-second-image{
                    .photo-description{
                        font-size: 35px;
                    }
                }
            }
        }

        .images-catalog {
            .normal-image{
                width: 90%;
            }

            .image-row{
                div p{
                    font-size: 35px;
                }
            }
        }
    }

    .image-overlay{
        padding-top: 20%;

        img{
            width: 80%;
            margin-right: 4%;
        }

        .download-button{
            right: 15%;
        }

        .close-overlay, .download-button{
            font-size: 50px;
            top: 12%;
        }
    }
}

@media(max-width: 767px){
    .tour-body{
        .slide-container{
            .slide{ 
                .main-image{
                    width: 90%;
                }

                .container-first-image, .container-second-image{
                    .photo-description{
                        font-size: 16px;
                    }
                }
            }

            .arrow{
                font-size: 30px;
                top: 22%;
            }

            .left-arrow, .right-arrow{
                margin: 0px;
            }
        }

        .images-catalog{
            .image-row{
                div p{
                    font-size: 16px;
                }
            }

            .normal-image{
                width: 90%;
            }
        }
    }

    .image-overlay{
        padding-top: 40%;

        img{
            width: 90%;
            margin-right: 4%;
        }

        .download-button{
            right: 15%;
        }

        .close-overlay, .download-button{
            font-size: 30px;
        }
    }
}