.tour-body{
    width: 100%;
    height: 30px;
    padding-top: 8%;

    .images-slide{
        background-color: yellow;
        text-align: -webkit-center;

        .main-image{
            max-height: 30%;
            width: 30%;
        }

        .arrow{
            font-size: 40px;
            cursor: pointer;
        }
    }
}