@import './assets/colors.scss';

h1, h2, h3, p, span, li, label, button {
    font-family: 'Bebas Neue', cursive; 
}

p{
    color: $white;
}

.animation-container{
    text-align: -webkit-center;
    margin: 30px 0px 10px 0px;
}

button{
    cursor: pointer;
}

.no-text-decoration{
    text-decoration: none;
}
